# Local .terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash Logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Saved Plans
*.tfplan

# CLI Config
.terraformrc
terraform.rc

# Bash scripts
create-backend-resources.sh
